<div class="modal-header">
	<button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
	<h4>Reservar Bloque</h4>
</div>
<div class="modal-body">
	<p ng-if="modal.text" ng-bind="modal.text"></p>
	<div>
		<label>Hora:</label> {{ modal.hour }}<sup>a</sup><br>
		<label>Fecha:</label> {{modal.fecha | date: 'd-MM-yyyy'}}
	</div>
	<label>Profesor:</label>
	<input type="input" class="form-control" placeholder="" ng-model="modal.profesor">
	<label>Curso:</label>
	<input type="input" class="form-control" placeholder="" ng-model="modal.curso">
</div>
<div class="modal-footer">
	<button ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click(modal)" ng-bind="button.text" class="btn"></button>
</div>